{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<!-- Call To Action Section Starts -->
<section class="call-action-all">
    <div class="call-action-all-overlay">
        <div class="container">
            
                                                
   <div class="login-page" ng-controller="LGN" ng-cloak>
      <div class="login-row">
        <div class="login-wrap fadeInUp" data-wow-duration="1.4s" data-wow-delay="0.6s"style="border:2px solid black;background:whitesmoke;">
               
            <center>
            <div class="bgnew">
<form action="." method="post">
<div class="row">
                <div class="col-xs-12">
                    <div class="action-text">
                                <a id="form"></a><h1>Forgot your password?</h1>
                                                <p class="lead">Enter your email address to obtain a new password.</p>
                                            </div>
{{ form.as_p }}
<p><input type="submit" value="Send e-mail"></p>
{% csrf_token %}

</form>
        </div>
                 </center>
        </div>
        
    </div>
{% endblock %}