{% extends "core/dash-base.html" %} {% load static %}
{% block extra_head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'main.css' %} ">
{% endblock extra_head %}

<body>
{% include "core/dash-nav.html" %}
{% block content %}
<section class="transaction">
        <div class="top">
            <span class="top__header">
                <span data-title="Make a deposit" class="deposit-link"><a href="{% url 'account:dashboard' %}"/a>Invest</span>
            </span>
        </div>

        <div class="bottom">
           <div class="bottom__box bottom__box--withdraw">
               {% comment %} <div class="coin-select">
                   <label for="coin-input" class="coin-select__label"><h1> Select Plan</h1></label>
                   <select name="coin" id="coin-input" class="coin-select__input">
                        <option value="etc">
                            Select your plan
                        </option>
                    {% for item in item_list %}
                    
                        <option value="btc"><a href="{{ item.get_absolute_url }}">
                          {{ item.title }}</a>
                        </option>
                    
                    {% endfor %}
                   </select>
               </div> {% endcomment %}
               <div class="plan-container">
               {% for item in item_list %}
                   <div class="plan-1">
                   <a href="{{ item.get_absolute_url }}" class="plan-title">
                    <div class="plan-title">
                            <p>{{ item.title }}</p>
                            <span class="beginner-price">
                                ${{ item.min_price }}-${{ item.max_price }}
                            </span>
                        </div>
                    </a>
                   
                   </div>
                   {% endfor %}
               </div>

           

           </div>

           <div class="bottom__box bottom__box--withdraw">
               <div class="coin-form-box">
                <form class="coin-form">

                 

                    <div class="coin-form-group u-margin-bottom--medium">
                        <label for="coin-amount" class="coin-form__label u-margin-bottom--small">
                            Amount
                        </label>
                        <div class="coin-form__input--amount-box">
                            <input type="number" id="coin-amount" class="coin-form__input coin-form__input--amount" placeholder="Minimum Withdrawal 0.001">
                        </div>
                    </div>

                    <div class="coin-form-group u-margin-bottom--big">
                      
                   </div>

                   <div class="coin-form-group">
                        <input type="submit" value="Deposit" class="coin-form__submit" >
                   </div>

                </form>
               </div>
           </div>
           
        </div>
    </section>
{% endblock content %}
    




    {% comment %} <script src="../script/script.js"></script> {% endcomment %}
</body>
