{% extends "core/dash-base.html" %} {% load static %}
{% block extra_head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw - Wallet - Cryptone</title>
    <link rel="stylesheet" href=" {% static 'main.css' %} ">
{% endblock extra_head %}

<body>
{% include "core/dash-nav.html" %}

{% block content %}
<section class="transaction">
        <div class="top">
            <span class="top__header">
                <span data-title="Make a deposit" class="deposit-link"><a href="{% url 'account:invest' %}">Invest</a></span>
            </span>
        </div>

        <div class="bottom">
           <div class="bottom__box bottom__box--withdraw">
               {% comment %} <div class="coin-select">
                   <label for="coin-input" class="coin-select__label"><h1> Select Plan</h1></label>
                   <select name="coin" id="coin-input" class="coin-select__input">
                        <option value="etc">
                            Select your plan
                        </option>
                    {% for plan in item_list %}
                    <a href="{{ plan.get_absolute_url }}">
                        <option value="btc">
                          {{ plan.title }}
                        </option>
                    </a>
                        {% endfor %}
                   </select>
               </div> {% endcomment %}
               <div class="plan-container">
               {% for plan in item_list %}
                   <div class="plan-1">
                   <a href="{{ plan.get_absolute_url }}" class="plan-title">
                    <div class="plan-title">
                            <p>{{ plan.title }}</p>
                            <span class="beginner-price">
                                ${{ plan.min_price }}-${{ plan.max_price }}
                            </span>
                        </div>
                    </a>
                   
                   </div>
                   {% endfor %}
               </div>

           

           </div>

           <div class="bottom__box bottom__box--withdraw">
               <div class="coin-form-box">

                <form class="coin-form" action="." method="post">

                {% csrf_token %}
                    <div class="coin-form-group u-margin-bottom--medium">
                        <label for="id_coin_amount" class="coin-form__label u-margin-bottom--small">
                            {{ item.title }}
                        </label>
                        <div class="coin-form__input--amount-box">
                            <input type="number" name="coin_amount" id="id_coin_amount" class="coin-form__input coin-form__input--amount" placeholder="Minimum deposit {{ item.min_price }}">
                        </div>
                    </div>

                   <div class="coin-form-group">
                        <input type="submit" value="Deposit" class="coin-form__submit" >
                   </div>

                </form>
               </div>
           </div>
   
        </div>
    </section>
{% endblock content %}
    




    {% comment %} <script src="../script/script.js"></script> {% endcomment %}
</body>
