{% load static %} {% comment %} {% load google_translate %}{% google_translate %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
{% include "core/head.html" %} {% block extra_head %}  {% endblock extra_head %} 
<!--Start of Tawk.to Script-->

<style>
  .dJvETY {
  display: none !important;
}

.gCdMUP{
  display: none !important;
}
</style>
<body>
  <a name="page"></a>
  <a id="page"></a>

  {% include "core/header.html" %}
  {% block content %}
    {% if messages %}
    <div class="mt-5 pt-4">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>

        {% endfor %}
    </div>
    {% endif %}
   
  
  {% endblock content %}


</body>
{% include "core/footer.html" %} {% include "core/scripts.html" %} {% block extra_script %} {% endblock extra_script %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60935477185beb22b30a8179/1f4vo3ss8';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


   